
AZURE_OPENAI_API_KEY=2q8S0VjrNOS6tg5cdM2JTTQAovGAaGuWbNq0DGtMyv1A6KjgQq3hJQQJ99BJACfhMk5XJ3w3AAAAACOGrh0O
AZURE_OPENAI_ENDPOINT=https://lever-mgvt2xmr-swedencentral.cognitiveservices.azure.com/
AZURE_OPENAI_API_VERSION=2024-12-01-preview
BFL_API_KEY=2q8S0VjrNOS6tg5cdM2JTTQAovGAaGuWbNq0DGtMyv1A6KjgQq3hJQQJ99BJACfhMk5XJ3w3AAAAACOGrh0O
